  
  
  .digit-input {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    gap: 5px;
    outline: none;
    border: none;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    width: 100%;
  
  }
  
  
  .digit-input input#digit {
    outline: none;
    border-radius: 8px;
    width: 0;
    flex-grow: 2;
    padding: 8px;
    background-color: #f0f0f0;
    text-align: center;
    justify-self: center;
    border: none;
    border-bottom: 1px solid #979797;

  }

  

  